@charset "utf-8";
/* CSS Document */

#contenedor{
	width: 1200px;
	position: relative; 
	margin: auto;
}
#zonaformulario{
	float: left;
	padding: 20px;
	border: 2px solid #f00;
	
}
#zonadatos{
	float: left;
	width: 500px;
	margin: 20px;
	border: 2px solid #0000ff;
}
.directorio{
	color: #0000f;
	font-weight: bold;
	cursor: pointer
}